*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
    width: 100%;
    height: 85px;
    background-color: #13293D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLeft {
    margin-left: 20px;
    text-decoration: none;
    color: #E8F1F2;
    font-size: x-large;
}

.navLeft:hover {
    color: #1B98E0;
}

.navRight {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navLink {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: #E8F1F2;
    font-weight: bold;
}

.navLink:hover {
    color: #1B98E0;
}

.hero {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    background-color: #E8F1F2;
    
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 30px;
    flex-wrap: wrap;
    color: #13293D;
}

.heroText h1{
    margin-bottom: 30px;
    font-size: 50px;
}

.heroText p {
    margin-bottom: 10px;
    font-size: 19px;
}

.heroButton {
    width: 30%;
    background-color: #1B98E0;
    border: none;
    border-radius: 20px;
    padding: 25px;
    font-size: medium;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    color: #13293D;
    text-align: center;
}

.heroButton:hover {
    transform: scale(1.04);
}

.heroImg {
    width: 45%;
    background-image: url('recursos/codigo-php.jpg');
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.quienesSomos {
    height: 600px;
    background-color: #13293D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E8F1F2;
}

.presentacion {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.presentacionBorder {
    height: 5px;
    background-color: #E8F1F2;
    width: 80%;
    margin-top: 25px;
}

.quienesSomos h1 {
    margin-bottom: 25px;
    align-self: center;
}

.quienesSomos p {
    font-size: 20px;
    margin-bottom: 20px;
}

.listaTecnologias {
    margin-bottom: 25px;
}

.listaTecnologias li {
    font-size: 20px;
}

.servicios {
    height: 600px;
    width: 100%;
    background-color: #13293D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios h1 {
    color: #E8F1F2;
}

.listaServicios {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.servicio {
    background-color: #E8F1F2;
    padding: 35px 25px 35px 25px;
    height: 380px;
    border-radius: 8%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 30%;
}

.servicio:hover {
    background-color: #1B98E0;
    transform: scale(1.05);
}

.servicio h1 {
    color: #13293D;
    margin-bottom: 35px;
    font-size: 30px;
}

.servicio p {
    color: #13293D;
    font-size: large;
    margin-top: 10px;
}

.servicio li {
    font-size: large;
    list-style: none;
}