*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
    width: 100%;
    height: 85px;
    background-color: #13293D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLeft {
    margin-left: 20px;
    text-decoration: none;
    color: #E8F1F2;
    font-size: x-large;
}

.navLeft:hover {
    color: #1B98E0;
}

.navRight {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navLink {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: #E8F1F2;
    font-weight: bold;
}

.navLink:hover {
    color: #1B98E0;
}

.hero {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    background-color: #E8F1F2;
    
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 30px;
    flex-wrap: wrap;
    color: #13293D;
}

.heroText h1{
    margin-bottom: 30px;
    font-size: 50px;
}

.heroText p {
    margin-bottom: 10px;
    font-size: 19px;
}

.heroButton {
    width: 30%;
    background-color: #1B98E0;
    border: none;
    border-radius: 20px;
    padding: 25px;
    font-size: medium;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    color: #13293D;
    text-align: center;
}

.heroButton:hover {
    transform: scale(1.04);
}

.heroImg {
    width: 45%;
    background-image: url('recursos/codigo-php.jpg');
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.quienesSomos {
    padding: 40px 0 50px 0;
    background-color: #13293D;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E8F1F2;
}

.presentacion {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.personas {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.persona {
    height: 400px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px 0 25px;
}

.persona img {
    height: 50%;
    width: 60%;
    border-radius: 100%;
    margin-bottom: 20px;
}

.persona p {
    text-align: center;
}

.quienesSomos h1 {
    margin-bottom: 25px;
    align-self: center;
    font-size: xx-large;
}

.quienesSomos p {
    font-size: 20px;
    margin-bottom: 20px;
}

.listaTecnologias {
    margin-bottom: 25px;
}

.listaTecnologias li {
    font-size: 20px;
}

.servicios {
    width: 100%;
    background-color: #13293D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
}

.servicios table {
    color: #E8F1F2;
    border-collapse: collapse;
    margin-top: 50px;
}

.servicios caption {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bold;
}

.servicios th {
    padding: 25px;
    border-bottom: 1px solid #E8F1F2;
}

.servicios td {
    padding: 25px;
    border-bottom: 1px solid #E8F1F2;
}

.servicios img {
    width: 400px;
    border-radius: 20px
}

.servicioTitulo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.servicioDesc {
    text-align: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1F2;
    color: #13293D;
    height: 700px;
    padding: 35px;
}

.contactoTitle {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.contacto p {
    font-size: 20px;
    margin-bottom: 10px;
}

.solicitaInformacionTitle {
    font-size: 30px;
    margin:35px 0 20px 0;
}

.formContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.contacto textarea {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #13293D;
}

.inputBox {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #13293D;
    margin-bottom: 10px;
}

.formContacto span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
}

.formButton {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #13293D;
    background-color: #1B98E0;
}

.formButton:hover {
    transform: scale(1.04);
    font-size: 14px;
}

.trabajarConNosotros {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #13293D;
    color: #E8F1F2;
    height: 1000px;
}

.trabajarConNosotros h1 {
    margin-bottom: 25px;
}

.trabajarConNosotros fieldset {
    padding: 25px;
    border-radius: 20px;
    border: 2px solid #E8F1F2;
}

.trabajarConNosotros legend {
    font-size: 20px;
}

.trabajarConNosotros input {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 250px;
    border-radius: 10px;
}

.trabajarConNosotrosForm {
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}